<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Practice</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
	<script src="script.js"></script>
</head>
<body ng-app="todoApp">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">A Todo App</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse float-right" id="navbarColor02">
			<ul class="navbar-nav mr-auto ">
				<li class="nav-item active">
					<a class="nav-link" href="#">Login</a>
				</li>
			</ul>
		</div>
	</nav>
	<br>
	<!-- jumbo -->
	<div class="container-fluid">
		<div class="jumbotron " ng-controller="taskCon">
			<h1 class="display-3">Hello, user!</h1>
			<p class="lead">This is a simple todo application</p>
			<hr class="my-4">
			<form >
				<div class="row" >
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Insert task" required ng-model="task">
						</div>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-primary btn-block" ng-click="insert()">Add</button>
					</div>
				</div>
			</form>


			<!-- list -->
			<div class="row">
				<div class="col-md-6">
					<table class="table">
						<thead>
							<tr>
								<th>No</th>
								<th>Task</th>
								<th></th>
							</tr>
						</thead>

						<tbody id="list">
							<tr ng-repeat="t in tasks">
								<td>{{$index+1}}</td>
								<td t-alert>{{t}}</td>
								<td><button type="button" class="btn btn-danger" ng-click="delete($index)">X</button></td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="col-md-6">
					<h2>Custom Directive</h2>
					<qt></qt>
				</div>
			</div>

		</div>
	</div>


</body>
</html>